        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Form đăng kí khám bệnh trực tiếp</h5>
                </div>
                <div class="card-body">
                    <!-- Your form goes here -->
                    <form>
                        <!--HO VA TEN -->
                        <div class="mb-3">
                            <label class="form-label">Họ và tên</label>
                            <input type="email" class="form-control" placeholder="nhập tên...">
                        </div>

                        <!--CCCD -->
                        <div class="mb-3">
                            <label class="form-label">CCDD</label>
                            <input type="number" class="form-control" placeholder="nhập mã căn cước công dân...">
                        </div>

                        <!--EMAIL -->
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="name@example.com">
                        </div>

                        <!--DIACHI -->
                        <div class="mb-3">
                            <label class="form-label">Địa chỉ</label>
                            <input type="email" class="form-control" placeholder="nhập địa chỉ">
                        </div>

                        <!--Ngày sinh -->
                        <div class="mb-3">
                            <label class="form-label">Ngày sinh</label>
                            <input type="date" name="ngaySinh" value="" class="form-control">
                        </div>

                        <!--Giới tính -->
                        <div class="mb-3">
                            <label class="form-label " style="padding-right:12px">Giới tính</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                                <label class="form-check-label" >MALE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions">
                                <label class="form-check-label">FEMALE</label>
                            </div>
                        </div>

                        <!--SDT -->
                        <div class="mb-3">
                            <label class="form-label">Số điện thoại</label>
                            <input type="number" name="ngaySinh" value="" class="form-control">
                        </div>

                        <!--TIENSUBENH -->
                        <div class="mb-3">
                            <label class="form-label">Tiền sử bệnh</label>
                            <textarea class="form-control" rows="5" id="message" name="tienSuBenh"
                                      placeholder="Tiền sử bệnh"></textarea>
                        </div>
                        <!-- Add more form fields as needed -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
