<div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Thông tin hoá đơn</div>
                <div class="card-category">Thông tin chi tiết hoá đơn từ bác sỹ</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Khách hàng:</span>
                                <span>{{phieukhambenh.trieuChung}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Ngày sinh:</span>
                               <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Giới tính:</span>
                               <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">CCCD:</span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Mã phiếu khám bệnh:</span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Bác sỹ khám bệnh: </span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Mã nhân viên (Bác sỹ): </span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Y tá thanh toán:</span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Mã nhân viên (Y tá): </span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-default">
                            <div class="pt-2 pb-2">
                                <span class="text-success fw-bold">Ngày tạo hoá đơn:</span>
                                <span>asdasdas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>